* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: Calibri;
}

html, body {
    height: 100%;
    background: #eee;
}

@font-face {
    font-family: icons;
    src: url(../fonts/font.ttf);
}

/* Main header style BEGIN */
.wrapper {
    min-height: 100%;
    margin-bottom: -68px;
    width: 900px;
    margin: 0 auto -68px auto;
}
.wrapper:after{
    content: "";
    display: block;
}
footer, .wrapper:after {
    height: 68px;
}
main {
    width: 600px;
    background: #333;
    padding: 15px 25px;
    border-top: 5px solid #FF6D44;
}

button:hover {
    cursor: pointer;
}

#footerNav {
    width: 900px;
    margin: 0 auto;
}
#noComment{
color: #ff976b;
}
.post {
    margin-bottom: 20px;
    color: #ccc;
    padding: 10px 0 5px 0;
    font-size: 16px;
    border-bottom: 3px double #666;
}

.clear:after {
    clear: both;
    display: block;
    content: "";
}

.post .date {
    float: right;
    font-style: italic;
    font-size: 14px;
    color: #999;
    margin: 5px 10px 0 0;
}

.post .aboutTitle {
    color: #FFF;
    font-size: 25px;
}

.post .postTitle a {
    font-size: 25px;
    color: #ff976b;
}

.post .postTitle {
    font-size: 25px;
    color: #ff976b;
}

.post .postTitle a:hover {
    font-size: 25px;
    color: #ffb788;
}

#copyRight {
    margin-left: 100px;
    margin-top: 10px;
    padding-left: 75px;
    color: rgba(217, 230, 238, 0.65);
}

footer > div {
    padding: 10px 0;
}

#footerNav article {
    display: block;
    float: left;
}
#facebook {
    float: right;
    height: 58px;
    margin-left: 130px;
}

#navigation > nav ul {
    margin-left: 20px;
    margin-top: 20px;
}

#navigation > nav ul li {
    list-style: none;
    display: inline-block;
}

#navigation > nav ul li a {
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 20px;
}

#navigation > nav ul li a:hover {
    background: #e6e6e6;
    color: #333;
    border-top: 3px solid #ff976b;
    padding-top: 7px;
}
#navigation > nav ul li a:visited {
    background: #e6e6e6;
    color: #989898;
    border-top: 3px solid #ff976b;
    padding-top: 7px;
}
#navigation > nav >ul > li >a:hover{
    color: #333;
    background: #dddddd;
 }

.wrapper > header {
    padding: 30px 0;
}

.wrapper > header nav {
    float: right;
}

.wrapper > header nav ul {
    font-size: 0;
}

.wrapper > header nav ul li {
    list-style: none;
    display: inline-block;
}

.wrapper > header nav ul li a {
    display: block;
    padding: 10px 15px;
    font-size: 20px;
    color: #999;
}

.wrapper > header nav ul li a:hover {
    background: #e6e6e6;
    color: #333;
    border-bottom: 3px solid #ff976b;;
}

.wrapper > header > h1 a {
    font-size: 40px;
    color: #666;
    font-family: Georgia, serif;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

aside {
    float: right;
    text-align: left;
    width: 215px;
}

aside div {
    border-top: 5px solid #FF6D44;
    padding: 15px 25px;
    margin-bottom: 10px;
    background: #333;
    width: 100%;
    box-sizing: border-box;
}

aside div ul {
    list-style: square;
    padding-left: 15px;
}

aside div ul li {
    color: #ff976b;
}

aside div ul li a {
    color: #ccc;
}

aside div ul li a:hover {
    color: #fff;
}

/* Main header style END */

/* Admin panel style BEGIN */
.adminError p {
    color: #ff976b;
}

.adminError {
    margin-bottom: 10px;
}

.adminPanel {
    color: #ccc;
}

#footerNav > nav {
    width: 120px;
}

.adminPanel form input, .adminPanel form textarea, .adminPanel form button {
    display: block;
    margin: 5px 0;
    padding: 5px;
    box-sizing: border-box;
    width: 200px;
}

.adminPanel form textarea, .adminPanel form input[type=text] {
    width: 100%;
}

.adminPanel form button{
    display: inline-block;
}

.adminPanel form .wrapper-buttons{
   text-align: center;
}

.adminPanel form label {
    display: block;
}

.adminSuccess p {
    color: #00ba00;
}

.adminSuccess {
    margin-top: 10px;
}

.adminLogout {
    color: #fff;
    float: right;
}

/* Admin panel style END */

/* Contact form style BEGIN */
section#contact-form {
    margin: 0 auto 20px;

}

.title {
    color: #FF6D44;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"] {
    display: block;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: none;
    padding: 0 5px 0 5px;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    outline: none;
}

input, textarea {
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

#contact-subject {
    display: block;
    margin: 0 auto;
    width: 318px;
}

#contact-subject:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #FF6D44;
}

#contact-address {
    display: block;
    margin: 2px auto;
    width: 318px;
}

#question {
    display: block;
    margin: 7px auto;
    resize: none;
    width: 328px;
    height: 200px;
    font-size: 20px;
}

#send-button {
    display: block;
    margin: 0 auto;
    width: 330px;
    height: 40px;
    border-top: 4px solid transparent;
    font-size: 19px;
    font-weight: bold;
}

#send-button:hover {
    cursor: pointer;
    border-top: 4px solid #FF6D44;
}

#send-button:focus {
    outline: none;
}

#contact-subject:focus, #contact-address:focus, #question:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #FF6D44;
}

.error {
    color: #ff0000;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.success {
    color: #008000;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* Contact form style END */

/* ABOUT US style BEGIN */
body > div.wrapper.clear > main > div > div > div > img {
    margin-top: 15px;
    float: right;

}

body > div.wrapper.clear > main > div > div > div > article {
    display: inline-block;
    width: 430px;
    text-align: justify;
    margin-top: 10px;
    height: 100px;
}

/* ABOUT US style END */

/* Tags filter style BEGIN */
.tags {
    margin-top: 25px;
    color: #ff976b;
}

.tag {
    color: #ff976b;
}

.tag:hover {
    color: #ff694d;
}

.filter {
    color: #ff6d44;
}

.filter a {
    color: #dc0207;
    font-family: icons;
    font-width: bold;
    line-height: 15px;
    vertical-align: middle;
}

.filter a:hover {
    color: #7b0206;
}

/* Tags filter style END */

/* Search bar style BEGIN */
form#search-field {
    text-align: center;
}

#search-title {
    color: #ff976b;
    text-align: center;
    font-size: 20px;
    margin: -8px 0 5px 0;
}

aside .searchBar #search {
    display: inline-block;
    width: 120px;
    vertical-align: middle;
}

aside .searchBar #search-button {
    width: 30px;
    height: 23px;
    vertical-align: middle;
    margin-left: -4px;
    background: #ffffff url(../img/search.png) no-repeat center;
}

aside .searchBar #search-button:hover {
    cursor: pointer;
}

/* Search bar style END */

/* Footer style BEGIN */
footer {
    margin: 20px auto 0;
    width: 100%;
    height: 100px;
    background-color: rgba(51, 51, 51, 0.18);
}

/* Footer style END */

/* Comments section style BEGIN */
.comment-remove {
    color: #dc0207;
    font-family: icons;
    font-width: bold;
    line-height: 15px;
    vertical-align: middle;
}

.comment-remove:hover {
    color: #7b0206;
    cursor: pointer;
}

#add-comment-section {
    border-bottom: 3px double #666;
}

#leave-comment {
    width: 232px;
}

#leave-comment-title {
    color: #ff976b;
}

#leave-comment-required {
    color: #ffc5a4;
    font-style: italic;
}

.leave-comment-input {
    display: block;
}

.leave-comment-label {
    display: block;
    color: #ffc5a4;
    margin-top: 10px;
}

textarea.leave-comment-input {
    width: 229px;
    height: 200px;
    resize: none;
}

#captcha-input {
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 33px;
    width: 131px;
    margin-left: -5px;
    text-align: center;
}

#captcha {
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
}

#add-comment {
    display: block;
    margin: 10px auto 20px;
    width: 232px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
}

#add-comment:hover {
    cursor: pointer;
}
#login{
    width: 200px;
}
#add-comment:focus {
    outline: 1px solid #ff976b;
}

.comments {
    margin-top: 20px;
}

.comment-date {
    color: #999;
    font-style: italic;
    float: right;
}
.comment{
    margin-bottom: 15px;
}
.removeComment{
    color:red;
    font-style: italic;
    font-size: 20px;
}
.comment-name {
    color: #ff976b;
    display: block;
    margin-top: -20px;
}

.comment-text {
    display: block;
    color: #FFF;
    margin-top: -13px;
    border-bottom: 2px solid #444;
    padding-bottom: 15px;
}

#edit-button {
    width: 100px;
    height: 20px;
    border: none;
    margin-left: 490px;
}

#edit-button:hover {
    cursor: pointer;
}

#edit-button a {
    color: black;
    font-weight: bold;
}

/* Comments section style END */

/* Pagination style BEGIN */
.pages {
    color: #ff976b;
    padding: 0 10px 0 0;
    font-size: 18px;
    text-align: center;
}

.pages a {
    color: #ff976b;
    padding: 0 10px 0 0;
}

.pages-clicked {
    color: white;
    font-size: 18px;
    padding: 0 10px 0 0;
}

/* Pagination style END */